/* small devices 768 max width*/
@media only screen and (max-width: 768px) {
  .portfolioMain {
    font-size: 1em;
    flex-direction: column;
    font-family: 'VictorMonoMedium';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolioSubHeader {
    font-size: 1.5em;
    font-family: 'VictorMonoItalic';
    font-weight: 600;
    display: block;
  }

  h1 {
    margin: 0;
    padding-top: 3vw;
    font-family: 'CodecColdExtraBold';
    font-size: 5.25em;
  }

  .projectContainer {
    margin: 5vw 0 5vw 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: space-between;
  }

  .projectIcon {
    width: 70vw;
    height: 70vw;
    border-radius: 35vw;
    background-color: #fff;
    filter: drop-shadow(-7px 7px #c9c9c9);
    position: absolute;
    z-index: 0;
  }

  .projectIcon img {
    width: 70vw;
    height: 70vw;
    border-radius: 35vw;
    filter: opacity(0.5);
    border: 0.5vw solid black;
  }

  h2 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 4em;
  }

  h3 {
    margin: 2vw 0 2vw 0;
    font-family: 'VictorMonoMedium';
    font-size: 0.85em;
  }

  ul {
    padding: 1vw;
  }

  li {
    padding: 1vw;
  }

  .blurb {
    background-color: #e3d0d8;
    padding: 5vw;
    margin: 0 2vw 0 2vw;
    border: 0.5vw solid;
    filter: drop-shadow(-7px 7px #c9c9c9);
  }

  .moreMain {
    width: 100%;
    margin: 8vw 0 8vw 0;
    padding: 2vw;
  }

  .moreBlurb {
    font-size: 1.1em;
    font-weight: 800;
    background-color: #e3d0d8;
    padding: 5.5vw;
    margin: 0 2vw 0 2vw;
    border: 0.5vw solid;
    filter: drop-shadow(-7px 7px #c9c9c9);
    justify-content: space-between;
    margin: 5vw;
  }

  .moreMain h2 {
    font-size: 3em;
    padding: 1vw;
  }

  .projectLinks {
    margin: 8vw 0 8vw 0;
  }

  .projectLinks a {
    color: #4b324f;
    border: 1px black solid;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 1vw;
    background-color: #c9c9c9;
    filter: drop-shadow(-7px 7px #827081);
  }

  .projectLinks a:hover {
    background-color: #fff;
  }

  .projectLinks a:active {
    color: #e7e6f7;
    background-color: #827081;
    filter: drop-shadow(-7px 7px #000);
  }

  .githubPlug a {
    color: #4b324f;
    border: 1px black solid;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 1.5vw 0 1.5vw 0;
    background-color: #c9c9c9;
    filter: drop-shadow(-7px 7px #827081);
  }

  .githubPlug:hover {
    color: #4b324f;
    background-color: #fff;
  }

  .githubPlug a:active {
    color: #e7e6f7;
    background-color: #827081;
    filter: drop-shadow(-7px 7px #000);
  }
}

/* Medium + larger devices (landscape tablets, laptops 768px and up) */
@media only screen and (min-width: 768px) {
  .portfolioMain {
    font-family: 'VictorMonoMedium';
    font-size: 0.75em;
  }

  .portfolioSubHeader {
    font-size: 2em;
    font-family: 'VictorMonoItalic';
    font-weight: 600;
    display: block;
  }

  h1 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 9em;
  }

  h2 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 5em;
  }

  h3 {
    margin: 0.5vw 0 0.75vw 0;
    font-family: 'VictorMonoMedium';
    font-size: 1.25em;
    letter-spacing: 0.1em;
  }

  .projectContainer {
    padding: 2vw;
    margin: 5vw 0 5vw 0;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
  }

  .projectIcon {
    width: 35vw;
    height: 35vw;
    border-radius: 17.5vw;
    background-color: #fff;
    filter: drop-shadow(-7px 7px #c9c9c9);
    position: absolute;
    z-index: 0;
  }

  .projectIcon img {
    width: 35vw;
    height: 35vw;
    border-radius: 17.5vw;
    border: 0.5vw solid black;
  }

  .blurb {
    font-size: 1.25em;
    font-weight: 800;
    background-color: #e3d0d8;
    padding: 2vw;
    margin: 0 2vw 0 2vw;
    border: 0.25vw solid;
    filter: drop-shadow(-7px 7px #c9c9c9);
  }

  .projectLinks {
    margin: 2vw 0 1vw 0;
  }

  .projectLinks a {
    color: #4b324f;
    border: 1px black solid;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25em;
    padding: 0.5em;
    margin: 3em 1em 3em 1em;
    background-color: #c9c9c9;
    filter: drop-shadow(-7px 7px #827081);
  }

  .projectLinks a:hover {
    color: #4b324f;
    background-color: #fff;
    font-family: 'VictorMonoItalic';
  }

  .projectLinks a:active {
    color: #e7e6f7;
    background-color: #827081;
    filter: drop-shadow(-7px 7px #000);
  }

  .moreMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }

  .moreBlurb {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 1.25em;
    font-weight: 800;
    background-color: #e3d0d8;
    padding: 2vw;
    margin: 0 2vw 0 2vw;
    border: 0.25vw solid;
    filter: drop-shadow(-7px 7px #c9c9c9);
    justify-content: space-between;
  }

  .moreMain h2 {
    font-size: 2em;
    padding: 1vw;
  }

  .rightAligner {
    display: flex;
    justify-content: flex-end;
  }

  .githubPlug {
    margin: 5vw 0 0 5vw;
  }

  .githubPlug a {
    color: #4b324f;
    border: 1px black solid;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 1.5vw;
    background-color: #c9c9c9;
    filter: drop-shadow(-7px 7px #827081);
  }

  .githubPlug:hover {
    color: #4b324f;
    background-color: #fff;
  }

  .githubPlug a:active {
    color: #e7e6f7;
    background-color: #827081;
    filter: drop-shadow(-7px 7px #000);
  }
}
