/* Extra small devices (phones, 768x and down) */
@media only screen and (max-width: 768px) {
  .portfolioMain {
    font-size: 0.75em;
    font-weight: 600;
  }

  .portrait img {
    clip-path: circle(50% at 50% 50%);
    height: 50vw;
  }

  .portfolioContainer {
    margin: 2vw 0 0 2vw;
    font-family: 'VictorMonoMedium';
    font-size: 1em;
  }

  .portfolioContainer h1 {
    display: block;
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 4.5em;
  }

  .subHeader {
    display: block;
    font-size: 1.8em;
    font-family: 'VictorMonoItalic';
    padding: 0.5em 0 0.5em 0;
    letter-spacing: 0.07em;
  }

  .blurb {
    font-size: 1.1em;
  }
}

/* Medium + larger devices (landscape tablets, laptops 768px and up) */
@media only screen and (min-width: 768px) {
  .portfolioMain {
    font-family: 'VictorMonoMedium';
    font-size: 1em;
  }

  .subHeader {
    font-size: 2.5em;
    font-family: 'CodecColdExtraBold';
    font-weight: 600;
    display: block;
    padding-bottom: 1vw;
  }

  .portfolioSubHeader {
    font-size: 2em;
    font-family: 'VictorMonoItalic';
    font-weight: 600;
    display: block;
    padding-bottom: 1vw;
  }

  h1 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 8em;
  }

  .projectContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2vw;
    margin: 15vw 0 15vw 0;
  }

  .projectIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c9c9c9;
    width: 30vw;
    height: 30vw;
    border-radius: 25vw;
    border: 0.25vw solid black;
    filter: drop-shadow(-7px 7px #c9c9c9);
  }

  .projectIcon img {
    height: 20vw;
    width: 20vw;
  }

  .blurb {
    font-size: 1.5em;
    font-weight: 500;
    background-color: #c9c9c9;
    padding: 2vw;
    margin: 0 2vw 0 2vw;
    border: 0.25vw solid black;
    filter: drop-shadow(-7px 7px #c9c9c9);
  }
}
