.header {
  font-family: 'CodecColdRegular', sans-serif;
  font-weight:800;
  font-size: 10em;
  /* color: #4B324F; */
  }

  .subContainer{
    display: flex;
    align-items: flex-start;
  }

  .subheader {
    font-family: 'VictorMonoItalic', monospace;
    font-size: 3em;
    color: #4B324F;
    padding-bottom: 1vw;
  }

  .blurb {
    font-family: 'VictorMonoMedium', monospace;
    font-size:1.5em;
    width: 60vw;
  }