/* Extra small devices (phones, 768x and down) */
@media only screen and (max-width: 768px) {
  .contactMain {
    font-size: 0.75em;
    font-weight: 600;
  }

  .contactMain a {
    text-decoration: none;
  }

  .contactMain a:hover {
    font-family: 'VictorMonoItalic';
  }

  header h5 {
    font-size: 8em;
    font-family: 'CodecColdExtraBold';
    padding: 10vw 0 3vw 0;
    margin: 3vw 0 0 0;
  }

  .contactSubHeader {
    display: block;
    font-size: 2em;
    font-family: 'VictorMonoItalic';
    padding: 0 0 2em 0;
    letter-spacing: 0.07em;
  }

  .emailAddress {
    font-size: 1.65em;
  }

  .mobileLinks h3 {
    padding: 3vw 0 15vw 0;
    font-size: 1.65em;
  }

  .contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vw;
  }

  .contactInfo img {
    height: 7em;
    margin: 1.5vw;
  }

  .contactInfo img:hover {
    filter: drop-shadow(-7px 7px #cdcdcd);
  }

  .contactInfo img:nth-child(4) {
    height: 6.5em;
    margin: 2.5vw;
  }

  .tooltip {
    display: inline-block;
    position: relative;
    font-family: 'VictorMonoMedium';
  }

  .tooltip .hover {
    min-width: 12.5em;
    top: -1vw;
    left: -95%;
    padding: 1vw 1vw;
    color: #000;
    font-weight: 800;
    font-size: 0.85em;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border: 0.25vw solid #000;
    filter: drop-shadow(-5px 5px #cdcdcd);
    display: none;
  }

  .tooltip:hover .hover {
    display: block;
  }
}

/* Medium + larger devices (landscape tablets, laptops 768px and up) */
@media only screen and (min-width: 768px) {
  .mobileLinks {
    display: none;
  }
  .contactMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'VictorMonoMedium';
    margin-bottom: 5vw;
  }

  .contactMain a {
    text-decoration: none;
  }

  .contactMain a:hover {
    font-family: 'VictorMonoItalic';
  }

  h3 a {
    text-decoration: none;
    color: #4b324f;
    font-size: 1.1em;
  }
  a:hover {
    color: #827081;
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }
  header {
    margin: 2vw 0 0 2vw;
    font-family: 'VictorMonoMedium';
    font-size: 1em;
    width: 50vw;
  }

  .contactSubHeader {
    display: block;
    font-size: 1.25em;
    font-family: 'VictorMonoItalic';
  }

  header h1 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 8em;
  }

  header h5 {
    font-size: 7em;
    font-family: 'CodecColdExtraBold';

    margin: 0;
  }
  header span {
    font-size: 1.1em;
    padding: 0.5em;
    font-weight: 600;
  }

  .emailAddress a {
    color: #4b324f;
    font-size: 1.25em;
  }

  .contactInfo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    margin-bottom: 5vw;
  }

  .contactInfo img {
    height: 7em;
    margin: 1vw;
  }

  .contactInfo img:hover {
    filter: drop-shadow(-7px 7px #cdcdcd);
  }

  .contactInfo img:nth-child(4) {
    height: 6.5em;
    margin: 2.5vw;
  }

  .tooltip {
    display: inline-block;
    position: relative;
    font-family: 'VictorMonoMedium';
  }

  .tooltip .hover {
    min-width: 12.5em;
    top: -1vw;
    left: -95%;
    padding: 1vw 1vw;
    color: #000;
    font-weight: 800;
    font-size: 0.85em;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border: 0.25vw solid #000;
    filter: drop-shadow(-5px 5px #cdcdcd);
    display: none;
  }

  .tooltip:hover .hover {
    display: block;
  }
}
