main {
  padding: 4vh;
  border: .5vh black solid;
  /* background-color: #FCD45D; */
  /* background-color: #D7B9D5; */
  /* background-color: #BE95C4; */
  /* background-color: #CFE0C3; */
  /* background-color: #E3D0D8; */
  background-color: #E7E6F7;
  
}