/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    padding: 3vh;
    border: 0.5vh black solid;
    background-color: #e7e6f7;
  }

  .header {
    font-family: 'CodecColdExtraBold', sans-serif;
    font-weight: 800;
    font-size: 4.5em;
  }

  .subContainer {
    display: flex;
    align-items: flex-start;
  }

  .subHeader {
    font-family: 'VictorMonoItalic', monospace;
    font-size: 1.85em;
    color: #4b324f;
    padding-bottom: 1vw;
  }

  .blurb {
    font-family: 'VictorMonoMedium', monospace;
    font-size: 1.5em;
    width: 60vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    padding: 4vh;
    border: 0.5vh black solid;
    background-color: #e7e6f7;
  }

  .header {
    font-family: 'CodecColdExtraBold', sans-serif;
    font-weight: 800;
    font-size: 6em;
    /* color: #4B324F; */
  }

  .subContainer {
    display: flex;
    align-items: flex-start;
  }

  .subHeader {
    font-family: 'VictorMonoItalic', monospace;
    font-size: 2.5em;
    color: #4b324f;
    padding-bottom: 1vw;
  }

  .blurb {
    font-family: 'VictorMonoMedium', monospace;
    font-size: 1.5em;
    width: 60vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    padding: 4vh;
    border: 0.5vh black solid;
    background-color: #e7e6f7;
  }

  .header {
    font-family: 'CodecColdExtraBold', sans-serif;
    font-weight: 800;
    font-size: 8em;
  }

  .subContainer {
    display: flex;
    align-items: flex-start;
  }

  .subHeader {
    font-family: 'VictorMonoItalic', monospace;
    font-size: 2.5em;
    color: #4b324f;
    padding-bottom: 1vw;
  }

  .blurb {
    font-family: 'VictorMonoMedium', monospace;
    font-size: 1.5em;
    width: 60vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    padding: 4vh;
    border: 0.5vh black solid;
    background-color: #e7e6f7;
  }

  .circle {
  }

  section {
    padding-bottom: 10vw;
  }

  .header {
    font-family: 'CodecColdExtraBold', sans-serif;
    font-weight: 800;
    font-size: 12em;
  }

  .subContainer {
    display: flex;
    align-items: flex-start;
  }

  .subHeader {
    font-family: 'VictorMonoItalic', monospace;
    font-size: 4.5em;
    color: #4b324f;
    padding-bottom: 1vw;
  }

  .blurb {
    font-family: 'VictorMonoMedium', monospace;
    font-size: 1.5em;
    width: 60vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
