/* Extra small devices (phones, 786px and down) */
@media only screen and (max-width: 768px) {
  .aboutMain {
    font-size: 0.9em;
    font-weight: 600;
    font-family: 'VictorMonoMedium';
  }

  .portrait img {
    clip-path: circle(50% at 50% 50%);
    height: 80vw;
    margin-bottom: 2vw;
  }

  header {
    margin: 2vw 0 15vw 0;
    font-family: 'VictorMonoMedium';
  }

  header h1 {
    display: block;
    font-family: 'CodecColdExtraBold';
    font-size: 6em;
    margin-bottom: 5vw;
  }

  .subHeader {
    display: block;
    font-size: 1.5em;
    font-family: 'VictorMonoItalic';
    padding: 8vw 0vw 6vw 0vw;
    margin: 0;
    letter-spacing: 0.07em;
  }

  .blurb {
    padding: 0;
    font-size: 1.1em;
    font-family: 'VictorMonoMedium';
  }

  .tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech h6 {
    font-size: 1.2em;
    font-family: 'VictorMonoItalic';
    font-weight: 800;
    padding:0;
    margin:0;
    line-height: 2.5em;
  }
  
  .techContainer {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
    padding: 2vw;
    margin: 2vw 0 4vw 0;
    gap: 11vw;
    font-size: .85em;
  }
  
  .tech img{
    display: block;
    height: 11vw;
  }
  
}

/* Medium + larger devices (landscape tablets, laptops 768px and up) */
@media only screen and (min-width: 768px) {
  .aboutMain {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  header {
    margin: 2vw 0 0 2vw;
    font-family: 'VictorMonoMedium';
    font-size: 1em;
    width: 50vw;
  }

  .subHeader {
    display: block;
    font-size: 1.5em;
    font-family: 'VictorMonoItalic';
  }

  header h1 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 5em;
  }

  header span {
    font-size: 1.1em;
    padding: 0.5em;
    font-weight: 600;
  }

  .portraitContainer {
    height: 36vw;
  }

  .portrait img {
    filter: drop-shadow(-7px 7px #c9c9c9);
    height: 35vw;
  }

  .blurb {
    padding: 0;
    font-size: 1em;
  }

  .tech h6 {
    font-size: 1.2em;
    font-family: 'VictorMonoItalic';
    font-weight: 800;
    padding:0;
    margin:0;
    line-height: 2em;
  }
  
  .techContainer {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
    gap: 2.5vw;
    font-size: .85em;
  }
  
  .tech img{
    display: block;
    height: 6vw;
  }
  
}

/* Larger devices (monitors 1279px and up) */
@media only screen and (min-width: 1279px) {
  .aboutMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'VictorMonoMedium';
    font-size: 1em;
  }

  .subHeader {
    display: block;
    font-size: 1.5em;
    font-family: 'VictorMonoItalic';
  }

  h1 {
    margin: 0;
    font-family: 'CodecColdExtraBold';
    font-size: 5em;
  }

  span {
    font-size: 1.1em;
    padding: 0.5em;
    font-weight: 600;
  }

  .portraitContainer {
    height: 36vw;
  }

  .portrait img {
    filter: drop-shadow(-7px 7px #c9c9c9);
    height: 30vw;
  }

  .blurb {
    padding: 0;
    letter-spacing: 0.07em;
  }

  .aboutMain h3 {
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 900;
  }
}
