.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

header {
  margin: 2vw 0 0 2vw;
  font-family: 'VictorMonoMedium';
  font-size: 1em;
  width: 50vw;
}

.subHeader {
  display: block;
  font-size: 1.5em;
  font-family: 'VictorMonoItalic';
}

header h1 {
  margin: 0;
  font-family: 'CodecColdExtraBold';
  font-size: 4.5em;
}

header span {
  font-size: 1.1em;
  padding: 0.5em;
  font-weight: 600;
}

.portrait {
  font-family: 'VictorMonoMedium', monospace;
  font-size: 1.5em;
}

.portrait img {
  clip-path: circle(50% at 50% 50%);
  height: 35vw;
}
