@font-face {
  font-family: 'CodecColdRegular';
  src: local('CodecColdRegular'), url(./fonts/CodecColdRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'VictorMonoMedium';
  src: local('VictorMonoMedium'), url(./fonts/VictorMonoMedium.ttf) format('truetype');
}

@font-face {
  font-family: 'VictorMonoItalic';
  src: local('VictorMonoItalic'), url(./fonts/VictorMonoItalic.ttf) format('truetype');
}

body, html {
  background-color: #fff;
}