.nav {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  font-family: 'VictorMonoMedium', monospace;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: .2rem;
}

a {
  padding-left: 2vw;
  text-decoration: none;
  color:black;
}

nav .active{
  background: #5855F3;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}