/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .navContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    position: sticky;
    background-color: #fff;
    border-bottom: #fff 1px solid;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    border-bottom: #fff 0.1vw solid;
    font-family: 'Victor Mono';
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.25vw;
    padding-right: 2vw;
  }

  .menuClosed button {
    margin: 0 0.5vw 1vw 0;
    border: none;
    height: 1.75em;
    width: 1.75em;
    background-color: #000;
    cursor: pointer;
    clip-path: polygon(
      0% 5%,
      100% 5%,
      100% 25%,
      0% 25%,
      0% 40%,
      100% 40%,
      100% 60%,
      0% 60%,
      0% 75%,
      100% 75%,
      100% 95%,
      0% 95%
    );
    transition: 0.2s ease-in-out;
  }

  .menuOpen button {
    cursor: pointer;
    margin: 0 0.5vw 1vw 0;
    height: 1.75em;
    width: 1.75em;
    background-color: #000;
    border: none;
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
    transition: 0.2s ease-in-out;
  }

  .hamburgerUl ul {
    position: absolute;
    right: 10vw;
    background-color: #fff;
    padding: 3vw;
    border: 0.5vh black solid;
    font-family: 'VictorMonoMedium';
    font-size: 0.85em;
    z-index: 2;
  }

  .hamburgerUl li {
    list-style: none;
    padding: 1vw;
  }

  .navLinks {
    display: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  a:hover,
  .active {
    font-style: italic;
    color: #827081;
  }
}

/* Large devices (laptops/desktops, 700px and up) */
@media only screen and (min-width: 700px) {
  .navContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0.5vw;
    width: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    border-bottom: #fff 0.1vw solid;
    font-size: 1em;
  }

  .navLinks {
    font-family: 'CodecColdExtraBold', monospace;
    font-weight: 900;
    font-size: 1.3em;
    letter-spacing: 0.2rem;
    padding: 0.5em;
  }

  .navLinks :hover {
    color: #827081;
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }

  .menuClosed {
    display: none;
  }

  .active {
    display: none;
  }

  nav a {
    padding-right: 2vw;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }

  nav .active {
    font-style: italic;
    color: #827081;
  }
}
